@using blog.Models
@model List<Iletisim>

<div class="col-sm-4 mb-3">
    <a href="~/Home/Index" class="navbar-brand">
        <h1 class="mb-2 mt-n2 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
    </a>
    <p>Blog Projesi</p>
    <div class="d-flex justify-content-start mt-4">
        <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="@ViewBag.Twitter"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="@ViewBag.Facebook"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="@ViewBag.LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="@ViewBag.Instagram"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="@ViewBag.Youtube"><i class="fab fa-youtube"></i></a>
    </div>
</div>